body {
	margin: 0;
  padding: 0;
}

.button {
	display: block;
  padding: 6px 16px;
  color: #ffffff;
  background-color: #4e4e4e;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
  transition: background-color 0.2s ease;
  &:hover {
	background-color: lighten($color: #4e4e4e, $amount: 10%);
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}